In [10]:
import pandas as pd
df=pd.read_csv("Data_set.csv")
df.head(10)

,show_name,country,num_episodes,aired_on,original_network,rating,current_overall_rank,lifetime_popularity_rank,watchers
0,NaN,South Korea,16,"Friday, Saturday",tvN,8.9,33.0,1,111706.0
1,NaN,South Korea,16,"Friday, Saturday",jTBC,8.7,89.0,2,100950.0
2,Descendants of the Sun,South Korea,16,"Wednesday, Thursday",KBS2,8.7,77.0,3,96318.0
3,Boys Over Flowers,South Korea,25,"Monday, Tuesday",KBS2,7.7,2249.0,4,94228.0
4,W,South Korea,16,"Wednesday, Thursday",MBC,8.5,201.0,5,92121.0
5,You Who Came from the Stars,South Korea,21,"Wednesday, Thursday",SBS,8.6,112.0,6,91360.0
6,Weightlifting Fairy Kim Bok Joo,South Korea,16,"Wednesday, Thursday",MBC,8.8,40.0,7,91330.0
7,The Heirs,South Korea,20,"Wednesday, Thursday",SBS,7.5,2817.0,8,90467.0
8,Pinocchio,South Korea,20,"Wednesday, Thursday",SBS,NaN,273.0,9,82893.0
9,Healer,South Korea,20,"Monday, Tuesday",KBS2,8.9,25.0,10,NaN

In [9]:
df.tail()

,show_name,country,num_episodes,aired_on,original_network,rating,current_overall_rank,lifetime_popularity_rank,watchers
95,Shut Up: Flower Boy Band,South Korea,16,"Monday, Tuesday",tvN,8.1,806.0,99,34668.0
96,Blood,South Korea,20,"Monday, Tuesday",KBS2,7.4,3271.0,100,34666.0
97,Chicago Typewriter,South Korea,16,"Friday, Saturday",tvN,8.8,51.0,101,NaN
98,Sungkyunkwan Scandal,South Korea,20,"Monday, Tuesday",KBS2,8.2,605.0,102,34615.0
99,Vagabond,South Korea,16,"Friday, Saturday","SBS, Netflix",8.5,238.0,103,34523.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   show_name                 96 non-null     object
 1   country                   100 non-null    object
 2   num_episodes              100 non-null    int64
 3   aired_on                  99 non-null     object
 4   original_network          99 non-null     object
 5   rating                    96 non-null     float64
 6   current_overall_rank      97 non-null     float64
 7   lifetime_popularity_rank  100 non-null    int64
 8   watchers                  97 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 7.2+ KB

In [14]:
df.isnull().sum()

show_name                   4
country                     0
num_episodes                0
aired_on                    1
original_network            1
rating                      4
current_overall_rank        3
lifetime_popularity_rank    0
watchers                    3
dtype: int64

In [15]:
df['col_name']=df['col_name'].fillna(df['col_name'].mode()[0])

KeyError: 'col_name'

In [16]:
df['col_name']=df['col_name'].fillna(df['col_name'].mean())

KeyError: 'col_name'

In [ ]:
df['col_name']=df['col_name'].fillna(df['col_name'].median())